@model RecipeSearchResult

@{
    ViewData["Title"] = "Here's Your Recipe!";
}


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <td> @Model.Image</td>
        </tr>
    </tbody>
</table>